.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ques{
  font-size: 20px;
}

.prev{
  background-color: grey;
  margin: 1%;
  border: 0ch;
  height: 4vh;
  width: 6vw;
}

.set{
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.score{
  color: blue;
  font-size: 20px;
}

.again{
  color:#47398d ;
  margin: 1%;
  border: 2px solid  #47398d ;
}

.back{
  color: green;
  border: 2px solid green;
}

.prac{
  padding-top: 3%;
}

.cont{
  width: 38vw;
  height: 45vh;;
  background-color: white;
  margin-left: 30%;
}

.result{
  color: green;
}

.next{
  background-color: green;
  margin: 1%;
  border: 0ch;
  height: 4vh;
  width: 9vh;
}

.quit{
  background-color: red;
  margin: 1%;
  border: 0ch;
  height: 4vh;
  width: 9vh;
}

.option{
  margin: 3%;
  background-color: #1ea1f1;
  border-radius: 2rem;
  height: 6vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 5%;

}

.left{
  text-align: left;
  margin: 2%;
}

.top{
  padding-top: 4%;
}

.color{
  color: white;
}

.border{
  width: 80%;
  background-color: white;
  height: 80vh;
  margin-left: 10%;
}

.green{
  background-color: #0ab306;
  color: white;
  border-radius: 1rem;
  width: 13vw;
  height: 5vh;
  border: 0ch ;
  font-size: 20px;
}

.front{
  margin: 25%;
  margin-top: 20%;
}

body{
  background-color: #47398d;
}

.mid{
  margin-bottom: 25%;
}

.end{
  margin-bottom: 25%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
